SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/SUA_CHAVE_OU_ALCHEMY
PRIVATE_KEY=SUA_CHAVE_PRIVADA_SEM_0x
ETHERSCAN_API_KEY=SUA_CHAVE_ETHERSCAN
TOKEN_ADDRESS=0x...
NFT_ADDRESS=0x...
STAKING_ADDRESS=0x...
DAO_ADDRESS=0x...
